[Desktop Entry]
Name=XJewel
Comment=An X Window System game of falling jewel blocks
Comment[de]=Game von der Art von Segas COLUMNS 
Comment[fr]=Jeu du style Columns de Sega
Comment[pl]=Gra Systemu X Window ze spadającymi klockami z kamieni szlachetnych
Comment[tr]=Sega'nın columns'una benzer oyun
Icon=xjewel
Exec=xjewel
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
